* {
  padding: 0%;
  margin: 0%;
}

p {
  margin-top: 10px;
  margin-left: 10px;
}

.header {
  background-color: #c8afa3;
  height: 70px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
body {
  margin: 0%;
}

.hej {
  font-size: 40px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 15px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  font-family: "Noto Sans Display", sans-serif;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #3c1e19;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
}
@media (max-width: 700px) {
  .information-startsida h1 {
    font-size: 30px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #3c1e19;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}
.information-startsida {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0)),
    url(bakgrund.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-startsida {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-startsida {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: left;
  width: 50%;
  text-align: center;
}
.text-startsida h1 {
  font-size: 62px;
  font-family: "Times New Roman", Times, serif;
}
.text-startsida p {
  margin: 20px 0 40px;
  font-size: 20px;
  color: rgb(253, 1, 1);
}
